@import "./reset.css";

body {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  display: block;
  text-decoration: none; /* link underline delete */
  color: #fff;
  font-size: 20px;
}

/* ID, screen */
#first-section,
#second-section,
#third-section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(236, 232, 220);

  border-top: 2px solid rgba(128, 128, 128, 0.25);
}

/* 1st section */
#first-section {
  height: 1080px;

  background-image: url(../img/main-wallpaper.jpg);
  background-size: cover;
  background-position: center center;
}
#first-section > a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 50px;

  border: 2px none rgba(255, 255, 255, 0.5);
  border-radius: 15px;

  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255, 0.8);

  background-color: rgba(0, 0, 0, 0.5);
}

/* 3st section */
#third-section {
  position: relative;

  height: 450px;
}

/* main */
.nav-main,
.visual,
.last-main {
  width: 100%;
  height: 100%;
}
.nav-main {
  position: fixed;
  top: 0;
  left: 0;

  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  height: 150px;
}
.visual {
  height: 800px;
}
.last-main {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 100px;

  background-color: wheat;
}

/* nav-main */
.nav-main-gnb,
.gnb,
.gnb-left,
.gnb-mid,
.gnb-right {
  width: 100%;
  height: 100%;
}
.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* 기본값이더라도 세팅 */
  flex-wrap: nowrap;
  flex-direction: row;
}
.gnb-left {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gnb-mid {
  width: auto;
  height: auto;

  overflow: hidden;
}
.gnb-right {
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */
  align-items: center;
}
/* gnb-items tag settings */
.gnb-mid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gnb-left a {
  text-align: left;
}
.gnb-right a {
  margin-left: 10px;
  text-align: right;
}

/* Class, screen */

/* 1st section */
.screen-one-explain {
  margin-bottom: 65px;

  text-align: center;

  color: rgba(245, 245, 245, 0.5);
}
.screen-one-explain strong {
  display: block;

  margin-bottom: 10px;

  font-size: 50px;

  color: wheat;
}

/* 2st section */
.screen-two-header,
.screen-two-content,
.screen-two-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-two-header {
  height: 20%;
}
.screen-two-content {
  height: 60%;

  justify-content: space-around;
}
.screen-two-btn {
  height: 20%;
}

/* 2st section - screen-two-header 부분 */
.screen-two-header h1 {
  text-align: center;
  color: black;
  font-size: 50px;
}

/* 2st section - screen-two-content 부분 */
.two-content-item {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-card {
  border: 2px solid rgba(128, 128, 128, 0.25);
  border-radius: 15px;

  background-color: rgba(255, 255, 255, 0.25);

  overflow: hidden;
}
.item-card-picture {
  display: block;

  width: 100%;
  height: 100%;
}
.item-detail {
  text-align: center;
}
.item-detail dt {
  margin: 20px;
  font-size: 32px;
}

/* 2st section - screen-two-btn 부분 */
.screen-two-btn a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 50px;

  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 15px;

  text-align: center;
  font-size: 25px;
  color: rgb(0, 0, 0, 0.8);

  background-color: rgba(255, 255, 255, 0.25);
}

/* 3rd section */
.screen-thr-img-one {
  position: absolute;

  margin-left: 100px;

  left: 0;
}
.screen-thr-img-two {
  position: absolute;

  margin-right: 100px;

  right: 0;
}
.imgTransform {
  transform: scale(-1);
}

/* last-main 부분 */
.last-main span {
  text-align: center;
}
